{% extends 'metricTemplates/metricBase.html' %}

{% set page_title = "Class Imbalance" %}
{% set page_route = "classImbalance" %}

{% block metricContent %}
    <div id="checkboxContainer_classImbalance" class="checkboxContainer"><br>
        <div class="checkboxContainerIndividual">
            <label class="material-checkbox">
                <input type="checkbox" name="class imbalance" value="yes" onchange="toggleValue(this)">
                <span class="checkmark"></span>
                Check class imbalance
                <span class="info-icon">i
                    <span class="info-text">This option checks the distribution of the target feature and displays a pie chart highlighting the class imbalance in the dataset.</span>
                </span>
            </label>
            
            <ul>
                <li >
                    <label for="features for class imbalance" style="padding:10px; padding-left:15px;">Target feature:</label>
                    <select name="features for class imbalance" id = "allFeaturesDropdownClIm" required>
                        <option value="" disabled selected>No features available for this dataset</option>
                        <!-- Options added dynamically using JavaScript -->
                    </select>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

