<!-- See metricBase.html and universalComponents.html for included components -->
{% extends 'metricTemplates/metricBase.html' %}

{% set page_title = "Custom DR Metrics" %}
{% set page_route = "upload_custom_dr" %}


{% block metricContent %}
    <div style="margin-left:3%; display:flex; flex-direction:column; align-items:center;">
        <h2 style="margin-bottom:10px;">Define Custom Metric</h2>
        <p style="margin-bottom:15px;">Please download the following base DR agent and extend it to create the custom DR metric and upload</p>
        <br>
        <div style="display:flex; flex-direction:row; width:max-content; margin-bottom:3%;">
            <input class="textWrapper" type="text"  style="min-width:220px" name="class_name" placeholder="Enter metric name" required>
            <button class="animated-button" type="button" style="width:max-content; flex-shrink:0; flex-grow:0;" onclick="downloadTemplate()">Download Metric Template</button>
        </div>
    
        <input style="width:220px; margin-bottom:1%;" type="file" name="custom_dr_file" accept=".py" required>
    </div>
{% endblock %}
{% block submitButton %}
    <button class="animated-button" type="submit">Submit</button>   
{% endblock %}
{% block script %}
    <script>    
        console.log("path: {{ uploaded_file_path }}");

        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('uploadForm').addEventListener('submit', async function (e) {
                e.preventDefault();

                const formData = new FormData(this);
                const resultContainer = document.getElementById('resultContainer');

                resultContainer.innerHTML = "Uploading and processing...";

                const response = await fetch('/upload-custom-dr', {
                    method: 'POST',
                    body: formData
                });

                if (response.ok) {
                    const data = await response.json();
                    resultContainer.innerHTML = `<strong>Result:</strong><pre>${JSON.stringify(data.results, null, 2)}</pre>`;
                } else {
                    const errorText = await response.text();
                    resultContainer.innerHTML = `<span style="color: red;"><strong>Error:</strong> ${errorText}</span>`;
                }
            })
        });
        function downloadTemplate(){
            //cant have forms within forms and the base template includes a form, so a little workaround...
            const input = document.querySelector('input[name="class_name"]');
            const form = document.createElement('form');
            form.method = 'POST';
            form.action = '/generate-template';

            const psuedoInput = document.createElement('input');
            psuedoInput.type = 'hidden';
            psuedoInput.name = 'class_name';
            psuedoInput.value = input.value;

            form.appendChild(psuedoInput);
            document.body.appendChild(form);
            form.submit();
        }
    </script>
{% endblock %}