<!DOCTYPE html>
<html lang="en" max-width: 100%>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/metric.js') }}"></script>
    <script>
        var retrieveFileUrl = "{{ url_for('retrieve_uploaded_file') }}";
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Data Quality</title>
</head>
<body>
    <div class="top-left-container">
       
        <div id="navbar">
            <a class="home" href="/">
                <img style="max-width:48px; max-height:48px;" src="images/logoNoBackground.png" alt="Aidrin Logo">
            </a>
            <button id="theme-switch">
                <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#5f6368">
                    <path
                        d="M480-280q-83 0-141.5-58.5T280-480q0-83 58.5-141.5T480-680q83 0 141.5 58.5T680-480q0 83-58.5 141.5T480-280ZM200-440H40v-80h160v80Zm720 0H760v-80h160v80ZM440-760v-160h80v160h-80Zm0 720v-160h80v160h-80ZM256-650l-101-97 57-59 96 100-52 56Zm492 496-97-101 53-55 101 97-57 59Zm-98-550 97-101 59 57-100 96-56-52ZM154-212l101-97 55 53-97 101-59-57Z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" height="3em" viewBox="0 -960 960 960" width="3em" fill="#5f6368">
                    <path
                        d="M480-120q-150 0-255-105T120-480q0-150 105-255t255-105q14 0 27.5 1t26.5 3q-41 29-65.5 75.5T444-660q0 90 63 153t153 63q55 0 101-24.5t75-65.5q2 13 3 26.5t1 27.5q0 150-105 255T480-120Z" />
                </svg>
            </button>
        </div>
    </div>
    <h1>Data Quality</h1>
    <div id="metric-download-gui" class="metric-download-gui">
        <div id="metric-download-gui-fileName" class="metric-download-gui-fileName">
        {% if uploaded_file_path %}
                    File: {{ uploaded_file_name }}
                    {% else %}
                    No File Uploaded
                    {% endif %}
        </div>
        {% if uploaded_file_path %}
                <!-- clear button: visible when file is uploaded, change form style to match-->
                <button type="button" class="clear-button" style="border:none" onclick="clearFile()">Clear Submission</button>
        {%else%}
                <button type="button" class="redirect-upload-button" style="border:none" onclick="location.href='{{ url_for("upload_file") }}'">Upload a File</button>
         {% endif %}
    </div>
     <div id="metric-download-gui" class="metric-download-gui">
        <div id="metric-download-gui-fileName" class="metric-download-gui-fileName">
        {% if uploaded_file_path %}
                    File: {{ uploaded_file_name }}
                    {% else %}
                    No File Uploaded
                    {% endif %}
        </div>
        {% if uploaded_file_path %}
                <!-- clear button: visible when file is uploaded, change form style to match-->
                <button type="button" class="clear-button" style="border:none" onclick="clearFile()">Clear Submission</button>
        {%else%}
                <button type="button" class="redirect-upload-button" style="border:none" onclick="location.href='{{ url_for("upload_file") }}'">Upload a File</button>
         {% endif %}
    </div>
    <div class="metric-page-container">
        <form id="uploadForm" method="post" enctype="multipart/form-data" action="{{ url_for('dataQuality') }}">
        <div id="checkboxContainer_quality" class="checkboxContainer"><br>
            <input type="file" id="file" name="file" style="display:none;" >
            <div style="font-family: Arial, sans-serif; line-height: 1.6;">
                <div class="checkboxContainerIndividual">
                    <label class="material-checkbox">
                        <input type="checkbox"  name="completeness" id="toggleButton_completeness" onchange="toggleValue(this)">
                        <span class="checkmark"></span>
                        Check completeness
                        <span class="info-icon">i
                            <span class="info-text">This option checks the proportion of NaN values in each feature and displays a bar chart highlighting features with only missing values.</span>
                        </span>
                    </label>

                    <label class="material-checkbox">
                        <input type="checkbox" name="outliers" style="margin-right: 10px;"  onchange="toggleValue(this)">
                        <span class="checkmark"></span>
                        Check outliers
                        <span class="info-icon">i
                            <span class="info-text">This option checks for outliers in numerical features using the Inter Quartile Range (IQR) method and displays a bar chart highlighting features with outliers.</span>
                            </span>
                    </label>
                    
                    <label class="material-checkbox">
                        <input type="checkbox" name="duplicity" style="margin-right: 10px;" onchange="toggleValue(this)">
                        <span class="checkmark"></span>
                        Check duplicity
                        <span class="info-icon">i
                            <span class="info-text">This option checks for duplicate rows in the dataset and display the proportion of overall duplicates in the dataset.</span>
                        </span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div id = "formbuttonsContainer">
        <button class="animated-button" type="submit" onclick="submitForm();">
            <span>Submit</span>
            <span></span>
            </button>
        <button class="animated-button return" type="button" onclick="location.href='{{url_for("upload_file")}}'">
            <span>Return</span>
            <span></span>
            </button>
    </div>
    </form>

    <div id="resultContainer" style="display:none;"></div>
    
    <div id="summaryStatistics"></div>
    <!-- Container for summary plots and statistics -->
    <div style="display:flex;">
        <div class="plot-container" id="histogramsContainer"></div>
        <div class="plot-container" style="text-align:left" id="metrics">

        <h2 style="text-align:center">Data Quality Metrics</h2>
        <p>No data available yet. Please submit a request.</p>
        <div id="buttonsContainer" style="display:none;">
            <button type="button" id="downloadBtn" onclick="downloadJSON()">Download JSON</button>
        </div>
        
    </div> 
</div>

</body>

</html>
