<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">


    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script>
        var retrieveFileUrl = "{{ url_for('retrieve_uploaded_file') }}";
    </script>
    <script src="{{ url_for('static', filename='js/metric.js') }}"></script>

     <title>Fairness</title>
</head>
<body>
    <div class="top-left-container">
       
        <div id="navbar">
            <a class="home" href="/">
                <img style="max-width:48px; max-height:48px;" src="images/logoNoBackground.png" alt="Aidrin Logo">
            </a>
            <button id="theme-switch">
                <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#5f6368">
                    <path
                        d="M480-280q-83 0-141.5-58.5T280-480q0-83 58.5-141.5T480-680q83 0 141.5 58.5T680-480q0 83-58.5 141.5T480-280ZM200-440H40v-80h160v80Zm720 0H760v-80h160v80ZM440-760v-160h80v160h-80Zm0 720v-160h80v160h-80ZM256-650l-101-97 57-59 96 100-52 56Zm492 496-97-101 53-55 101 97-57 59Zm-98-550 97-101 59 57-100 96-56-52ZM154-212l101-97 55 53-97 101-59-57Z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" height="3em" viewBox="0 -960 960 960" width="3em" fill="#5f6368">
                    <path
                        d="M480-120q-150 0-255-105T120-480q0-150 105-255t255-105q14 0 27.5 1t26.5 3q-41 29-65.5 75.5T444-660q0 90 63 153t153 63q55 0 101-24.5t75-65.5q2 13 3 26.5t1 27.5q0 150-105 255T480-120Z" />
                </svg>
            </button>
        </div>
    </div>
    <h1>Fairness</h1>
    <div id="metric-download-gui" class="metric-download-gui">
        <div id="metric-download-gui-fileName" class="metric-download-gui-fileName">
        {% if uploaded_file_path %}
                    File: {{ uploaded_file_name }}
                    {% else %}
                    No File Uploaded
                    {% endif %}
        </div>
        {% if uploaded_file_path %}
                <!-- clear button: visible when file is uploaded, change form style to match-->
                <button type="button" class="clear-button" style="border:none" onclick="clearFile()">Clear Submission</button>
        {%else%}
                <button type="button" class="redirect-upload-button" style="border:none" onclick="location.href='{{ url_for("upload_file") }}'">Upload a File</button>
         {% endif %}
    </div>
    <div class="metric-page-container">
        <form id="uploadForm" method="post" action="{{ url_for('dataQuality') }}">
        <div id="checkboxContainer_fairness" class="checkboxContainer"><br>
            <div class="checkboxContainerIndividual">
                <label class="material-checkbox">
                        <input type="checkbox" name="representation rate" onchange="toggleValue(this)">
                        <span class="checkmark"></span>
                        Check representation rate
                        <span class="info-icon">i
                        <span class="info-text">This option checks the representation rate of a sensitive feature in the dataset and displays a pie chart highlighting the representation rate of the sensitive feature.</span>
                    </span>
                </label>
                <ul>
                    <li>
                        <label class="listLabel"for="features for representation rate">Sensitive feature:</label>
                        <select name="features for representation rate" id = "allFeaturesDropdownRepRate" required>
                            <option value="" disabled selected>No features available for this dataset</option>
                            <!-- Options will be added dynamically using JavaScript -->
                        </select>
                
                    </li>
                </ul>
            </div>
            <div class="checkboxContainerIndividual">
                <label class="material-checkbox">
                    <input  type="checkbox" name="statistical rate" onchange="toggleValue(this)"> 
                    <span class="checkmark"></span>
                    Check statistical rate
                    <span class="info-icon">i
                        <span class="info-text">This option calculates the proportions of each sensitive attribute within each category of the selected target feature and presents the results as a bar chart. This visual helps identify imbalances or disparities in the data.</span>   
                    </span>
                </label>
                <ul>
                    <li >
                        <label class="listLabel" for="features for statistical rate">Feature:</label>
                        <select name="features for statistical rate" id = "allFeaturesDropdownStatRate1" required>
                            <option value="" disabled selected>No features available for this dataset</option>
                        </select>
                    </li>
                    <li >
                        <label class="listLabel" for="target for statistical rate">Target:</label>
                        <select name="target for statistical rate" id = "allFeaturesDropdownStatRate2" required>
                            <option value="" disabled selected>No features available for this dataset</option>
                        </select><br>
                    </li>
                    
                </ul>
            </div>
                        
            <!-- <input style="margin-left: 40px;" type="checkbox" name="real representation rate" value="yes"> Check real world representation rate<br> -->
            
            <!-- <ul>
                <li style="margin-left: 40px;">
                    <label for="real column">Sensitive Feature:</label>
                    <select name="real column" id = "allFeaturesDropdownRealRep" required>
                        <option value="" disabled selected>Select a feature</option>
                    </select><br>
                </li>

                <li style="margin-left: 40px;">
                    <label for="real attributes">Sensitive groups:</label>
                    <input type="text" name="real attributes">
                </li>

                <li style="margin-left: 40px;">
                    <label for="real values">Values of Sensitive groups:</label>
                    <input type="text" name="real values"><br>
                </li>
            </ul> -->

            
            
            
            
            <!-- <input style="margin-left: 40px;" type="checkbox" name="compare real to dataset" value="yes"> Compare real world to dataset representation rates<br> -->
            <div class="checkboxContainerIndividual">
                <label class="material-checkbox">
                    <input  type="checkbox" name="conditional demographic disparity" onchange="toggleValue(this)"> 
                    <span class="checkmark"></span>
                    Conditional Demographic Disparity
                    <span class="info-icon">i
                        <span class="info-text">The conditional demographic disparity metric evaluates the distribution of positive and negative outcomes across sensitive groups. Users specify which outcome is 'positive/target', with others classified as 'negative'. The metric calculates the proportions of positive and negative outcomes within each group. A disparity value of True indicates that a group's negative outcomes exceed its positive ones, highlighting potential disparities in outcome distribution.</span>
                    </span>
                </label>
                <ul>
                    <li >
                        <label class="listLabel" for="sensitive for conditional demographic disparity">Sensitive feature:</label>
                        <select name="sensitive for conditional demographic disparity" id="allFeaturesDropdownCondDemoDis1" required>
                            <option value="" disabled selected>No features available for this dataset</option>
                        </select><br>
                    </li>
                    <li >
                        <label class="listLabel" for="target for conditional demographic disparity">Target feature:</label>
                        
                        <select name="target for conditional demographic disparity" id="allFeaturesDropdownCondDemoDis2" required>
                            <option value="" disabled selected>No features available for this dataset</option>
                        </select><br>
                    </li>

                    <li >
                        <label class="listLabel" for="target value for conditional demographic disparity">Target value:</label>
                        <input class="textWrapper" type="text" name="target value for conditional demographic disparity" required><br>
                        
                    </li>
                </div>
                

        
        </div> 
    </div>       
        <br>
        <div id = "formbuttonsContainer">
            <button class="animated-button" type="submit" onclick="submitForm()">
                <span>Submit</span>
                <span></span>
                </button>
            <button class="animated-button return" type="button" onclick="location.href='{{url_for("upload_file")}}'">
                <span>Return</span>
                <span></span>
                </button>
        </div>
    </form>
    <div id="resultContainer" style="display:none;"></div>
    
    <div id="summaryStatistics"></div>
    <!-- Container for summary plots and statistics -->
    <div style="display:flex;">
        <div class="plot-container" id="histogramsContainer"></div>
        <div class="plot-container" style="text-align:left" id="metrics">

        <h2 style="text-align:center">Data Quality Metrics</h2>
        <p>No data available yet. Please submit a request.</p>
        <div id="buttonsContainer" style="display:none;">
            <button type="button" id="downloadBtn" onclick="downloadJSON()">Download JSON</button>
        </div>
            
    </div> 
</body>
</html>
