<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <title>Structured Data Readiness</title>
</head>
<body>
    <div class="top-left-container">
       
        <div id="navbar">
            <a class="home" href="/">
                <img style="max-width:48px; max-height:48px;" src="images/logoNoBackground.png" alt="Aidrin Logo">
            </a>
            <button id="theme-switch">
                <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#5f6368">
                    <path
                        d="M480-280q-83 0-141.5-58.5T280-480q0-83 58.5-141.5T480-680q83 0 141.5 58.5T680-480q0 83-58.5 141.5T480-280ZM200-440H40v-80h160v80Zm720 0H760v-80h160v80ZM440-760v-160h80v160h-80Zm0 720v-160h80v160h-80ZM256-650l-101-97 57-59 96 100-52 56Zm492 496-97-101 53-55 101 97-57 59Zm-98-550 97-101 59 57-100 96-56-52ZM154-212l101-97 55 53-97 101-59-57Z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" height="3em" viewBox="0 -960 960 960" width="3em" fill="#5f6368">
                    <path
                        d="M480-120q-150 0-255-105T120-480q0-150 105-255t255-105q14 0 27.5 1t26.5 3q-41 29-65.5 75.5T444-660q0 90 63 153t153 63q55 0 101-24.5t75-65.5q2 13 3 26.5t1 27.5q0 150-105 255T480-120Z" />
                </svg>
            </button>
        </div>
    </div>
    <h1 style="text-align:center; margin-bottom:1%;">Structured Data Readiness</h1>
    <div style="width: 100%; display: block;">
        <p style="
          max-width: 700px;
          margin: 0 auto;
          padding-bottom:3%;
          text-align: center;
          font-size: 1.25rem;
          line-height: 1.4;
          white-space: normal;
          word-break: break-word;
          overflow-wrap: break-word;
          display: block;
        ">
          Upload a supported structured dataset to evaluate it on the metrics available below
    </p>
      </div>
      
    
    <form id="uploadForm" method="post" enctype="multipart/form-data" style="display: flex; flex-direction: row; ">
        <div style="display: flex; width: 35%; flex-direction:column;">

            <select  class="fileType" style="margin:0; align-self:center; text-align:center; border-radius: 10px 10px 0px 0px; width:100%; max-width: none;" name="file type">
                <option>File Type: CSV Structured</option>
                <option>File Type: CSV Unstructured</option>
            </select>

            <label id="fileUploadContainer" for="file" class="custum-file-upload" required>
                <div class="icon">
                <!--Credit for the image-->
                {% if session.get('uploaded_file_path') %}
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="#212121"><path d="M240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z"/></svg>
                {% else %}
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"  fill="#212121"><path d="M440-320v-326L336-542l-56-58 200-200 200 200-56 58-104-104v326h-80ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z"/></svg>
                {% endif %}
                </div>

                <input id="file" name="file" type="file" accept=".csv" required onchange="uploadForm();">
                <br>
                <div id="fileLabel" style="color:#ffffff">
                    {% if session.get('uploaded_file_path') %}
                    <script>
                        document.getElementById("fileUploadContainer").style.borderRadius = "0px 0px 0px 0px";
                        document.getElementById("fileUploadContainer").style.border = "2px  #e8e8e8 solid";
                        document.getElementById("fileUploadContainer").style.borderBottom = "none";
                        
                    </script>
                    <h2>File Uploaded: {{session.get('uploaded_file_name')}}</h2>
                    {% else %}
                    <h2>Please Upload a File</h2>
                    {% endif %}
                </div>
                
            </label>
            {% if session.get('uploaded_file_path') %}
                <!-- clear button: visible when file is uploaded, change form style to match-->
                <button type="button" class="clear-button" onclick="clearFile()">Clear Uploaded File</button>
            {% endif %}
        
        </div>
        <div style="display: flex; flex-direction: column; margin-top: 10px; align-self: center; width: max-content;">
        {% if session.get('uploaded_file_path') %}
            <h3 onclick="togglePillarDropdown('dataQualityDropdown')">Data Quality<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M400-280v-400l200 200-200 200Z"/></svg></h3>
                <div id="dataQualityDropdown">
                    <strong id="toggleButton_quality" class="toggle-button clickable" onclick="location.href='{{url_for("dataQuality")}}'"> Data Quality Metrics<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M400-280v-400l200 200-200 200Z"/></svg></strong>
                </div>
            <h3 onclick="togglePillarDropdown('AIImpactDropdown')">Impact of Data on AI<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M400-280v-400l200 200-200 200Z"/></svg></h3>
                <div id="AIImpactDropdown">
                    <strong id="toggleButton_featureRelevance" class="toggle-button clickable" onclick="location.href='{{url_for("featureRelevance")}}'"> Feature Relevance<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M400-280v-400l200 200-200 200Z"/></svg></strong>
                    <strong id="toggleButton_correlation" class="toggle-button clickable" onclick="location.href='{{url_for("correlationAnalysis")}}'"> Correlation Analysis<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M400-280v-400l200 200-200 200Z"/></svg></strong>
                </div>
            <h3 onclick="togglePillarDropdown('FairnessDropdown')">Fairness and Bias<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M400-280v-400l200 200-200 200Z"/></svg></h3>
                <div id="FairnessDropdown">
                    <strong id="toggleButton_fairness" class="toggle-button clickable" onclick="location.href='{{url_for("fairness")}}'"> Fairness Metrics<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M400-280v-400l200 200-200 200Z"/></svg></strong>
                    <strong id="toggleButton_classImbalance" class="toggle-button clickable" onclick="location.href='{{url_for("classImbalance")}}'"> Class Imbalance<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M400-280v-400l200 200-200 200Z"/></svg></strong>
                </div>
            <h3 onclick="togglePillarDropdown('DataGovernanceDropdown')">Data Governance<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M400-280v-400l200 200-200 200Z"/></svg></h3>
                <div id="DataGovernanceDropdown">
                    <strong id="toggleButton_privacy" class="toggle-button clickable" onclick="location.href='{{url_for("privacyPreservation")}}'"> Privacy Preservation<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M400-280v-400l200 200-200 200Z"/></svg></strong>
                </div>
            <h3 onclick="togglePillarDropdown('UnderstandabilityDropdown')">Understandability and Usability<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M400-280v-400l200 200-200 200Z"/></svg></h3>
                <div id="UnderstandabilityDropdown">
                    <strong id="toggleButton_FAIR" class="toggle-button clickable" onclick="location.href='{{url_for("FAIRness")}}'"> FAIR Compliance Evaluation<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M400-280v-400l200 200-200 200Z"/></svg></strong>
                </div>
            <h3 onclick="togglePillarDropdown('DataStructureDropdown')">Data Structure and Organization<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M400-280v-400l200 200-200 200Z"/></svg></h3>
                <div id="DataStructureDropdown">
                    <strong class="toggle-button">No metrics available for this pillar yet</strong>
                </div>

        {% else %}
            <h3 class="noUpload metric-info">Data Quality<span class="metric-info-text">Please upload a file</span></h3>
                <div id="dataQualityDropdown">
                    <strong id="toggleButton_quality" class="toggle-button metric-info"> Data Quality Metrics<span class="metric-info-text">Please upload a file</span></strong>
                </div>
            <h3 class="noUpload metric-info">Impact of Data on AI<span class="metric-info-text">Please upload a file</span></h3>
                <div id="AIImpactDropdown">
                    <strong id="toggleButton_featureRelevance" class="toggle-button metric-info"> Feature Relevance<span class="metric-info-text">Please upload a file</span></strong>
                    <strong id="toggleButton_correlation" class="toggle-button metric-info"> Correlation Analysis<span class="metric-info-text">Please upload a file</span></strong>
                </div>
            <h3 class="noUpload metric-info">Fairness and Bias<span class="metric-info-text">Please upload a file</span></h3>
                <div id="FairnessDropdown">
                    <strong id="toggleButton_fairness" class="toggle-button metric-info"> Fairness Metrics<span class="metric-info-text">Please upload a file</span></strong>
                    <strong id="toggleButton_classImbalance" class="toggle-button metric-info"> Class Imbalance<span class="metric-info-text">Please upload a file</span></strong>
                </div>
            <h3 class="noUpload metric-info">Data Governance<span class="metric-info-text">Please upload a file</span></h3>
                <div id="DataGovernanceDropdown">
                    <strong id="toggleButton_privacy" class="toggle-button metric-info"> Privacy Preservation<span class="metric-info-text">Please upload a file</span></strong>
                </div>
            <h3 class="noUpload" metric-info>Understandability and Usability<span class="metric-info-text">Please upload a file</span></h3>
                <div id="UnderstandabilityDropdown">
                    <strong id="toggleButton_FAIR" class="toggle-button metric-info"> FAIR Compliance Evaluation<span class="metric-info-text">Please upload a file</span></strong>
                </div>
            <h3 class="noUpload metric-info">Data Structure and Organization<span class="metric-info-text">Please upload a file</span></h3>
    {% endif %}
        </div>
    </form>
   <strong onclick="location.href='{{url_for("publications")}}'" class="clickable" style="text-align: center; font-size: 1.5em; display:flex; align-items:center; align-self:center">Publications  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"/></svg></strong>
           
</body>