<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Structured Data Readiness</title>
</head>
<body>
    <h1>Structured Data Readiness</h1>
    <form id="uploadForm" method="post" enctype="multipart/form-data">
        <label for="file">Choose a CSV file:</label>
        <input type="file" name="file" accept=".csv" required>

        <p>Select analysis options:</p>

        <input type="checkbox" name="completeness" value="yes"> Check completeness<br>
        <input type="checkbox" name="outliers" value="yes"> Check outliers<br>
        <input type="checkbox" name="duplicity" value="yes"> Check duplicity<br>
        <input type="checkbox" name="representation rate" value="yes"> Check representation rate<br>
        
        <label for="features for representation rate">Features for representation rate:</label>
        <input type="text" name="features for representation rate"><br>

        <input type="checkbox" name="statistical rate" value="yes"> Check statistical rate<br>
        <label for="features for statistical rate">Features for statistical rate:</label>
        <input type="text" name="features for statistical rate">
        <label for="target for statitical rate">Target for statistical rate:</label>
        <input type="text" name="target for statitical rate"><br>

        <input type="checkbox" name="real representation rate" value="yes"> Check real representation rate<br>
        <label for="real column1">Real column:</label>
        <input type="text" name="real column1">
        <label for="real attributes1">Real attributes:</label>
        <input type="text" name="real attributes1">
        <label for="real values1">Real values:</label>
        <input type="text" name="real values1"><br>

        <input type="checkbox" name="compare real to dataset" value="yes"> Compare real world to dataset representation rates<br>
        <input type="checkbox" name="correlations" value="yes"> Check correlations<br>
        <label for="correlation columns">Correlation columns:</label>
        <input type="text" name="correlation columns">
        <label for="categorical features for feature relevancy">Categorical features:</label>
        <input type="text" name="categorical features for feature relevancy">
        <label for="numerical features for feature relevancy">Numerical features:</label>
        <input type="text" name="numerical features for feature relevancy">
        <label for="target for feature relevance">Target for feature relevance:</label>
        <input type="text" name="target for feature relevance"><br>

        <input type="checkbox" name="top 3 features" value="yes"> Check top 3 features<br>

        <input type="checkbox" name="privacy preservation" value="yes"> Check privacy preservation<br>
        <label for="numerical features to add noise">Numerical features to add noise:</label>
        <input type="text" name="numerical features to add noise">

        <label for="privacy budget">Privacy budget (epsilon):</label>
        <input type="text" name="privacy budget"><br>

        <button type="button" onclick="submitForm()">Submit</button>

        <div id="buttonsContainer" style="display:none;">
            <button type="button" id="visualizationBtn" onclick="showVisualization()">Show Visualization</button>
            <button type="button" id="jsonBtn" onclick="showJSON()">Show JSON</button>
            <button type="button" id="jsonBtn" onclick="downloadJSON()">Download JSON</button>

        </div>
    </form>

    <div id="resultContainer" style="display:none;"></div>

    <script>
    function submitForm() {
        var form = document.getElementById('uploadForm');
        var formData = new FormData(form);

        fetch('/upload_file', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            var resultContainer = document.getElementById('resultContainer');

            resp_data = data;

            // Function to check if a key is present and not undefined
            function isKeyPresentAndDefined(obj, key) {
                return obj && obj[key] !== undefined;
            }

            // Check if "Completeness Visualization" key is present
            if (isKeyPresentAndDefined(data, 'Completeness') && isKeyPresentAndDefined(data['Completeness'], 'Completeness Visualization')) {
                // Display the completeness chart image
                console.log('Completeness Visualization data:', data['Completeness']['Completeness Visualization']);
                resultContainer.innerHTML += '<img id="complVis" style="display:none;" src="data:image/png;base64,' + data['Completeness']['Completeness Visualization'] + '" alt="Completeness Chart">';
            }

            // Check if "Outliers Visualization" key is present
            if (isKeyPresentAndDefined(data, 'Outliers') && isKeyPresentAndDefined(data['Outliers'], 'Outliers Visualization')) {
                // Display the completeness chart image
                console.log('Outliers Visualization data:', data['Outliers']['Outliers Visualization']);
                resultContainer.innerHTML += '<img id="outVis" style="display:none;" src="data:image/png;base64,' + data['Outliers']['Outliers Visualization'] + '" alt="Outliers Chart">';
            }

            if (
                isKeyPresentAndDefined(data, 'Representation Rate') &&
                isKeyPresentAndDefined(data['Representation Rate'], 'Representation Rate Chart')
            ) {
                // Display the completeness chart image
                console.log('Representation Rate Visualizations data:', data['Representation Rate']['Representation Rate Chart']);
                resultContainer.innerHTML += '<img id="repVis" style="display:none;" src="data:image/png;base64,' + data['Representation Rate']['Representation Rate Chart']+ '" alt="Representation Rate Chart">';
            }

            // Check if "Representation Rate Comparison with Real World" key and "Comparisons" key are present
            if (
                isKeyPresentAndDefined(data, 'Representation Rate Comparison with Real World') &&
                isKeyPresentAndDefined(data['Representation Rate Comparison with Real World']['Comparisons'], 'Comparison Visualization')
            ) {
                // Display the completeness chart image
                console.log('Comparison Visualization data:', data['Representation Rate Comparison with Real World']['Comparisons']['Comparison Visualization']);
                resultContainer.innerHTML += '<img id="compVis" style="display:none;" src="data:image/png;base64,' + data['Representation Rate Comparison with Real World']['Comparisons']['Comparison Visualization'] + '" alt="Comparisons Chart">';
            }

            //Display other result information as JSON
            resultContainer.innerHTML += '<pre id="jsonResult" style="display:none;">' + JSON.stringify(data, null, 2) + '</pre>';

            // Show the result container after the response is generated
            resultContainer.style.display = 'block';

            // Show the buttons after the response is generated
            document.getElementById('buttonsContainer').style.display = 'block';
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    function showVisualization() {
        // Show Completeness Visualization content if it exists
        var completenessContent = document.getElementById('complVis');
        if (completenessContent) {
            completenessContent.style.display = 'block';
        }

        // Show Outliers Visualization content if it exists
        var outliersContent = document.getElementById('outVis');
        if (outliersContent) {
            outliersContent.style.display = 'block';
        }

        // Show Representation Rate Visualization content if it exists
        var representationRateContent = document.getElementById('repVis');
        if (representationRateContent) {
            representationRateContent.style.display = 'block';
        }

        // Show Comparison Visualization content if it exists
        var comparisonContent = document.getElementById('compVis');
        if (comparisonContent) {
            comparisonContent.style.display = 'block';
        }

        // ... (Add similar logic for other visualizations)

        // Hide JSON content
        var jsonResultContainer = document.getElementById('jsonResult');
        if (jsonResultContainer) {
            jsonResultContainer.style.display = 'none';
        }
    }

    function downloadJSON() {
        // Get the JSON data
        var jsonData = JSON.stringify(resp_data, null, 2);

        // Create a Blob with the JSON data
        var blob = new Blob([jsonData], { type: 'application/json' });

        // Create a link element
        var link = document.createElement('a');

        // Set the link's href attribute to a data URL containing the Blob
        link.href = window.URL.createObjectURL(blob);

        // Set the link's download attribute to specify the file name
        link.download = 'result.json';

        // Append the link to the document
        document.body.appendChild(link);

        // Trigger a click on the link to start the download
        link.click();

        // Remove the link from the document
        document.body.removeChild(link);
    }

    function showJSON() {
        // Show Completeness Visualization content if it exists
        var jsonResult = document.getElementById('jsonResult');
        if (jsonResult) {
            jsonResult.style.display = 'block';
        }
    }
</script>

</body>
</html>
