<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload JSON File</title>
</head>
<body>
    <h1>Upload JSON File</h1>
    <form id="uploadForm" method="post" enctype="multipart/form-data">
        <input type="file" name="metadata" accept=".json" required>

        <label for="metadata type">Select the metadata type:</label>
        <select name="metadata type" id="metadata type" required>
            <option value="DCAT">DCAT</option>
            <option value="Datacite">Datacite</option>
            <!-- Add more options as needed -->
        </select>
        <button type="button" onclick="submitForm()">Submit</button>
    </form>

    <div id="resultContainer"></div>

    <script>
        function submitForm() {
            var form = document.getElementById('uploadForm');
            var formData = new FormData(form);

            fetch('/FAIRness', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                var resultContainer = document.getElementById('resultContainer');

                // Check if there is an image data
                if (data && data["Pie chart"]) {
                    var imageContainer = document.createElement('div');
                    imageContainer.innerHTML = '<img src="data:image/png;base64,' + data["Pie chart"] + '" alt="Pie Chart">';
                    resultContainer.appendChild(imageContainer);
                }

                resultContainer.innerHTML += '<h2>Result</h2>' + displayKeyValuePairs(data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        function displayKeyValuePairs(obj) {
            var result = '<ul>';

            for (var key in obj) {
                if (obj.hasOwnProperty(key)) {

                    if (key === "Pie chart") {
                        continue;
                    }   
                    var value = obj[key];
                    result += '<li><strong>' + key + ':</strong> ';

                    if (typeof value === 'object') {
                        result += displayKeyValuePairs(value);
                    } else {
                        result += value;
                    }

                    result += '</li>';
                }
            }

            result += '</ul>';
            return result;
        }
    </script>
</body>
</html>
